.nav{
   background-color: rgb(221, 205, 218);
}
.nav-img{
   align-items: flex-start;
}

.wrapper{
   margin: 0 auto;
   width: 100%;
   /* background-color: rgb(217, 236, 236); */
   margin-top: 110px;
   text-align: center;
}

.wrapper-home{
 
   width: 100%;
   /* background-color: rgb(217, 236, 236); */
   margin-top: 10px;
   text-align: center;

}

.slider_show{
   margin: 0 auto;
   
   
   margin-top: 102px;
   text-align: center;
}

h2{
   font-size: 20px;
   font-weight: 600;
   color: rgb(231, 9, 9);
   text-align: left;
   
   margin-top: 15px;
}

.wrapper-body h2{
   margin-left: 308px;
}


.wrapper-body{
   /* margin-top: 20px; */
   
}

header {
   position: fixed;
   top: 0;
   z-index: 100;
   width: 100%;

 }

.product{
   margin-top: 10px;
}

.item{
   margin-top: 15px;
}


.card-body{
   max-width: 25rem;
   font-size: 13px;
}
.req{
   color: red;
}

.form{
   margin-top: 10px;
}

.person-buy{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
}

.person-take{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
   margin-top: 10px;
}

.messager{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
   margin-top: 10px;
}

.payment
{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
   margin-top: 10px;
}

.date{
   width: 50%;
}

.infor-pro{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
   margin-top: 10px;
   text-align: left;
}

.confirm-pro{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
   margin-top: 10px;
   text-align: center;
}
.confirm-pro a{
   color: white;
  width: 80%;
   
   text-decoration: none;
}

.confirm-pro h5{
   border-bottom: 1px solid rgb(235, 229, 229);
}

.offer{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
   margin-top: 10px;
   text-align: left;
}

.dropdown:hover .dropdown-menu
{  
   display: block;
   
}
.dropdown:hover .dropdown-menu
{  
   background-color: #68adbe;
}

.rate{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
   margin-top: 10px;
  
}

.comment{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
   margin-top: 10px;
   text-align: left;
}



.star{
   border-bottom: 2px solid rgb(235, 229, 229);;
}



.image_category figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.image_category figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.category_item{
   background-color: rgb(207, 226, 226);
   border: 2px solid rgb(235, 229, 229);
   margin-left: 0px;
   width: 100%; 
   border-radius: 5px;
}

input:placeholder-shown ~ label::before{
   content: attr(data-empty);
   color: red;
}

input:not(:placeholder-shown) ~ label::before{
   content: attr(data-valid);
   color: green;
}

input:invalid ~ label::before{
   content: attr(data-invalid);
   color: red;
}

.product-img img{
   height: 80px;
   width: 80px;

}

.order_list{
   border: 2px solid rgb(235, 229, 229);
   border-radius: 5px;
   padding: 10px;
   margin-top: 10px;
   text-align: left;

}


