.nav{
   background-color: rgb(226, 207, 207);
}
.nav-img{
   align-items: flex-start;
}

.wrapper{
   margin: 0 auto;
   width: 100%;
   /* background-color: rgb(217, 236, 236); */
   margin-top: 110px;
   text-align: center;
}

.wrapper-home{
   margin: 0 auto;
   width: 100%;
   background-color: rgb(217, 236, 236);
   margin-top: 110px;
   text-align: center;

}

h2{
   font-size: 20px;
   font-weight: 600;
   color: rgb(231, 9, 9);
   text-align: left;
   
   margin-top: 15px;
}

.wrapper-body{
   /* margin-top: 20px; */
   
}

header {
   position: fixed;
   top: 0;
   z-index: 100;
   width: 100%;

 }

.product{
   margin-top: 10px;
}

.item{
   margin-top: 15px;
}


.card-body{
   max-width: 25rem;
   font-size: 13px;
}



